{% include 'head.html.twig' %}
{% include 'loader.html.twig' %}
{% include 'sidebar.html.twig' %}

<!-- Custom Container -->
<div class="dt-container">

    <!-- Site Content Wrapper -->
    <div class="dt-content-wrapper">

        <!-- Site Content -->
        <div class="dt-content">

            {% for message in app.flashes('tutoring') %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            <!-- Page Header -->
            <div class="dt-page__header">
                <h1 class="dt-page__title">L'accompagnement à la scolarité</h1>
            </div>
            <!-- /page header -->

            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-12">

                    <p class="">
                        Aujourd’hui, en plus de 27 ans de présence, une question se pose quant à l’apport réel de l’aide aux devoirs ou encore appelé soutien scolaire pour les enfants. Et que dire de son impact sur la réussite des enfants à l’école ?
                    </p>

                    <p class="">
                        Les années précédentes, l’accent était mis sur l’apprentissage de certaines méthodes de travail indispensables pour avoir les bons réflexes permettant ainsi à l’enfant d’avoir une meilleure compréhension de sa situation scolaire.
                    </p>

                    <p class="">
                        Cependant au fil du temps, nous avons observé malgré tout et malgré nous :

                        <ul>
                            <li class="">Une incompréhension des compétences scolaires à acquérir qui n’ont plus réellement de sens chez l’élève.</li>
                            <li class="">Un désintéressement pour l’approfondissement des savoirs…</li>
                            <li class="">De plus, aujourd’hui ce sont les établissements scolaires qui devraient, à travers divers dispositifs, prendre en charge le soutien scolaire.</li>
                            <li class="">Un désintéressement des parents par manque de compréhension du système dans lequel ils évoluent.</li>
                        </ul>

                    </p>

                    <p class="">
                        Actuellement, le travail réalisé durant les temps de soutien scolaire n’incite pas l’enfant à aller chercher des savoirs complémentaires, à la maison. Il se contente d’apprendre ce que lui indique le cours sans avoir envie d’en savoir plus.
                    </p>

                    <p class="">
                        C’est pourquoi, pour permettre à l’enfant de reprendre confiance en lui et en l’école, il nous a été indispensable de réorienter nos moyens d’action en développant une autre méthode de travail.
                    </p>

                    <p class="">
                        Pour cela, nous avons fait appel à une formatrice-animatrice, spécialisée dans la pédagogie scolaire qui nous a proposé un nouveau concept de soutien scolaire. L’année 2016 a donc été la première année d’application de cette pédagogie : le soutien scolaire actif.
                    </p>

                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

            <!-- Page Header -->
            <div class="dt-page__header">
                <h1 class="dt-page__title">Le soutien scolaire actif</h1>
            </div>
            <!-- /page header -->

            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-12">

                    <p class="">
                        Le soutien scolaire actif consiste à mettre en place des activités ludiques et attrayantes pour créer un lien entre les apprentissages scolaires et la vie quotidienne des enfants et redonner goût à l’apprentissage.
                    </p>

                    <p class="">
                        De cette manière, nous pouvons apporter du sens aux apprentissages et susciter l’intérêt d’acquérir de nouveaux savoirs, se réapproprier ce qui a été appris à l’école au travers d’animations, de moments d’échange, de dialogue et d’expression.
                    </p>

                    <p class="">
                        En faisant participer l’enfant à ces ateliers PÉDAGOGIQUES, il pourra se rendre compte des compétences requises pour réaliser telle ou telle activité, Par cette technique, il n’en découle qu’une réelle motivation pour l’acquisition de nouvelles connaissances. Ainsi, l’élève :

                        <ul>
                            <li class="">Sait donner du sens aux apprentissages acquis à l’école.</li>
                            <li class="">Est motivé dans sa recherche du savoir.</li>
                            <li class="">Sait utiliser son savoir dans la vie de tous les jours.</li>
                            <li class="">Se sent investi dans son école, sa famille, son quartier, sa ville et au-delà, sa société.</li>
                        </ul>

                    </p>

                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

            <!-- Page Header -->
            <div class="dt-page__header">
                <h1 class="dt-page__title">Stages intensifs</h1>
            </div>
            <!-- /page header -->

            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-12">

                    <p class="">
                        Le soutien scolaire actif consiste à mettre en place des activités ludiques et attrayantes pour créer un lien entre les apprentissages scolaires et la vie quotidienne des enfants et redonner goût à l’apprentissage.
                    </p>

                    <p class="">
                        De cette manière, nous pouvons apporter du sens aux apprentissages et susciter l’intérêt d’acquérir de nouveaux savoirs, se réapproprier ce qui a été appris à l’école au travers d’animations, de moments d’échange, de dialogue et d’expression.
                    </p>

                    <p class="">
                        En faisant participer l’enfant à ces ateliers PÉDAGOGIQUES, il pourra se rendre compte des compétences requises pour réaliser telle ou telle activité, Par cette technique, il n’en découle qu’une réelle motivation pour l’acquisition de nouvelles connaissances. Ainsi, l’élève :

                        <ul>
                            <li class="">Sait donner du sens aux apprentissages acquis à l’école</li>
                            <li class="">Est motivé dans sa recherche du savoir</li>
                            <li class="">Sait utiliser son savoir dans la vie de tous les jours</li>
                            <li class="">Se sent investi dans son école, sa famille, son quartier, sa ville et au-delà, sa société</li>
                        </ul>
                    </p>
                    
                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-12">

                    <!-- Entry Header -->
                    <div class="dt-entry__header">

                        <!-- Entry Heading -->
                        <div class="dt-entry__heading">
                            <h3 class="dt-entry__title">Demande</h3>
                        </div>
                        <!-- /entry heading -->

                    </div>
                    <!-- /entry header -->

                    {% if is_granted('IS_AUTHENTICATED_FULLY') and user.tutoring is null %}
                        <a href="{{ path('app_enrollment_tutoring') }}" class="btn btn-primary mt-2 mb-2">Faire ma demande d'accompagnement scolaire</a>
                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') and user.tutoring is not null %}
                        <p class="">
                            Vous avez déjà fait votre demande d'accompagnement scolaire.
                        </p>
                        <p class="">
                            Pour suivre le statut de votre demande, vous pouvez cliquer <a href="{{ path('app_my_requests') }}">ICI</a> ou vous rendre dans l'onglet "MES DEMANDES".
                        </p>
                    {% else %}
                        <p class="">
                            Veuillez vous <a href="{{ path('app_login') }}">connecter</a> afin de faire votre demande.
                        </p>
                    {% endif %}

                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

        </div>
        <!-- /site content -->

    </div>
    <!-- /site content wrapper -->

</div>
<!-- /custom Container -->

{% include 'footer.html.twig' %}
{% include 'script.html.twig' %}