{% include 'head.html.twig' %}
{% include 'loader.html.twig' %}
{% include 'sidebar.html.twig' %}

<!-- Custom Container -->
<div class="dt-container">

    <!-- Site Content Wrapper -->
    <div class="dt-content-wrapper">

        <!-- Site Content -->
        <div class="dt-content">

            <!-- Page Header -->
            <div class="dt-page__header">
                <h1 class="dt-page__title">Qui sommes-nous ?</h1>
            </div>
            <!-- /page header -->

            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-12">

                    <p class="">Depuis 1992, l’ACBCL s’implique au sein des quartiers des Buers et Croix-Luizet, dans diverses activités, en particulier l’accompagnement scolaire, afin de favoriser le lien social et diminuer les inégalités scolaires et sociales.&nbsp;</p><p class=""><span style="font-size: 1.4rem;">L’ACBCL est née de la volonté de certains habitants du quartier ainsi que des étudiants de lutter contre les problèmes liés à la scolarité.</span></p><p class="">Le constat de départ était que le taux d’échec scolaire aux Buers était plus élevé qu’ailleurs et qu’il fallait tout faire pour y remédier.</p><p class="">Au départ, l’association siégeait au 33 Rue du 8 mai 1945 (Est Habitat aujourd’hui).</p><p class="">Depuis environ 10 ans, l'association est installée dans les locaux de la M.S.P (Maison de Services Publics).</p><p class="">Notre objectif prioritaire est d’aider l’enfant dans leur parcours scolaire car il subsiste chez un grand nombre d’enfants des difficultés à écrire et à s’exprimer.</p><p class="">Partant de ce constat, nous essayons, par notre implication quotidienne, de ne pas nous appuyer uniquement sur l’aide aux devoirs, mais sur l’accompagnement de l’enfant en lui fournissant des outils méthodologiques adaptés à son suivi. Ainsi, il pourra devenir autonome, qualité indispensable pour une meilleure réussite.</p><p class="">Nous accompagnons également les parents en proposant des formations de parentalité bienveillante et positive, des conférences, des ateliers dans divers domaines touchant à l'éducation mais également la nutrition, le bien-être...</p>

                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

        </div>
        <!-- /site content -->

    </div>
    <!-- /site content wrapper -->

</div>
<!-- /custom Container -->

{% include 'footer.html.twig' %}
{% include 'script.html.twig' %}