<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Association ACBCL">
    <meta name="keywords" content="ACBCL, association, Buerscroixluizet, BXL">
    <!-- /meta tags -->
    <title>ACBCL</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" href="{{ asset('build/images/icon-acbcl-favicon.ico') }}" type="image/x-icon">
    <!-- /site favicon -->
    {{ encore_entry_link_tags('app') }}
    <!-- /load styles -->

</head>
<body>